node_modules/
# build/
# dist/
coverage/
.DS_Store
*.log
dist_electron/
.env*
!.env.example
*.apk
!InvoCentric.apk
!public/InvoCentric.apk
!InvoCentric-Test.apk
!public/InvoCentric-Test.apk
*.exe
*.jar
*.idsig
.vscode/
